flows (1).json
[{"id":"d5569614.64dd48","type":"tab","label":"Smart agriculture sytem","disabled":false,"info":""},{"id":"3d6cc7a7.d14f28","type":"ibmiot in","z":"d5569614.64dd48","authentication":"apiKey","apiKey":"c9e2a465.986568","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456789","applicationId":"","deviceType":"iotdevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":80,"wires":[["f4d89628.8fef48","87ea1f68.3f762","3ab5c3f6.1a7f1c","b8c52bea.077f68"]]},{"id":"f4d89628.8fef48","type":"function","z":"d5569614.64dd48","name":"temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":80,"wires":[["3f971d83.448a22"]]},{"id":"8d973c81.bfe2f","type":"ibmiot out","z":"d5569614.64dd48","authentication":"apiKey","apiKey":"c9e2a465.986568","outputType":"cmd","deviceId":"12345678","deviceType":"iotdevice","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":840,"y":300,"wires":[]},{"id":"cad02bf9.1c0068","type":"debug","z":"d5569614.64dd48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":260,"wires":[]},{"id":"b8c52bea.077f68","type":"http request","z":"d5569614.64dd48","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Burhanpur,IN&appid=78ef7084e563cc27617684be82413071","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":40,"wires":[["85f96521.cd0978"]]},{"id":"4e740849.5e8208","type":"debug","z":"d5569614.64dd48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":80,"wires":[]},{"id":"85f96521.cd0978","type":"function","z":"d5569614.64dd48","name":"get weather","func":"msg.payload=msg.payload.name+\" : \"+msg.payload.weather[0].main\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":40,"wires":[["4e740849.5e8208","a16ca206.b2329"]]},{"id":"3f971d83.448a22","type":"ui_gauge","z":"d5569614.64dd48","name":"","group":"55b6133d.0a043c","order":2,"width":8,"height":5,"gtype":"gage","title":"Temperature","label":"Degree Celcius","format":"{{value}}","min":0,"max":"50","colors":["#ca3838","#e6e600","#ca3838"],"seg1":"20","seg2":"40","x":570,"y":80,"wires":[]},{"id":"7a56682c.4024c8","type":"ui_gauge","z":"d5569614.64dd48","name":"","group":"55b6133d.0a043c","order":3,"width":8,"height":5,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"60","x":560,"y":120,"wires":[]},{"id":"1f74806b.5d90b","type":"ui_gauge","z":"d5569614.64dd48","name":"","group":"55b6133d.0a043c","order":4,"width":8,"height":5,"gtype":"gage","title":"Soil Moisture","label":"Moisture units","format":"{{value}}","min":0,"max":"0.8","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0.1","seg2":"0.5","x":570,"y":160,"wires":[]},{"id":"87ea1f68.3f762","type":"function","z":"d5569614.64dd48","name":"humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["7a56682c.4024c8"]]},{"id":"3ab5c3f6.1a7f1c","type":"function","z":"d5569614.64dd48","name":"moisture","func":"msg.payload=msg.payload.d.objectTemp/100\nglobal.set('moisture',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["1f74806b.5d90b"]]},{"id":"a16ca206.b2329","type":"ui_text","z":"d5569614.64dd48","group":"cfbb46d3.efd098","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":850,"y":40,"wires":[]},{"id":"6d67ed46.0c1814","type":"ui_ui_control","z":"d5569614.64dd48","name":"","events":"all","x":680,"y":360,"wires":[["d8e7bab5.363ed8"]]},{"id":"2713d58d.94247a","type":"function","z":"d5569614.64dd48","name":"mode control","func":"if(msg.payload==\"Automatic\"){\n    msg.payload={\"group\": {\"hide\": [\"Smart_Agriculture_System_Manual_Control\"], \"show\": [\"Smart_Agriculture_System_Automatic_Control\"]}}\n}\nelse\n{\n    msg.payload={\"group\": {\"hide\": [\"Smart_Agriculture_System_Automatic_Control\",\"Smart_Agriculture_System_Timer\"], \"show\": [\"Smart_Agriculture_System_Manual_Control\"]}}\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":360,"wires":[["6d67ed46.0c1814"]]},{"id":"d8e7bab5.363ed8","type":"debug","z":"d5569614.64dd48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":360,"wires":[]},{"id":"e6be04f0.45af48","type":"ui_dropdown","z":"d5569614.64dd48","name":"","label":"Mode","tooltip":"","place":"Automatic/Manual","group":"f75bb6b5.161db8","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Automatic","value":"Automatic","type":"str"},{"label":"Manual","value":"Manual","type":"str"}],"payload":"","topic":"","x":310,"y":360,"wires":[["2713d58d.94247a","cfd3ffd.c6d06"]]},{"id":"fea4ee4e.685bf","type":"ui_text","z":"d5569614.64dd48","group":"ba4319e5.ed8a58","order":1,"width":0,"height":0,"name":"","label":"Status:","format":"{{msg.payload}}","layout":"row-left","x":490,"y":440,"wires":[]},{"id":"e9b1d964.fa2c68","type":"ui_text","z":"d5569614.64dd48","group":"acff4258.faf8b","order":1,"width":5,"height":1,"name":"","label":"Motor : ","format":"{{msg.payload}}","layout":"row-left","x":830,"y":220,"wires":[]},{"id":"c268eacc.d58cd8","type":"inject","z":"d5569614.64dd48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":360,"wires":[["e6be04f0.45af48"]]},{"id":"cfd3ffd.c6d06","type":"function","z":"d5569614.64dd48","name":"AutoMode Display Status","func":"var level=global.get('moisture')\nif(msg.payload==\"Automatic\" || msg.payload==\"On\"){\n    if(level>0.15){\n        msg.payload=\"Adequete Water Available.\\nNo need for watering.\"\n    }\n    else{\n        msg.payload=\"Motor turned On for 30 minutes.\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":460,"wires":[["fea4ee4e.685bf","b340f1ba.f0e83","acf1bab1.8cf6b8"]]},{"id":"36dea7fe.dfd118","type":"mytimeout","z":"d5569614.64dd48","name":"Countdown timer","outtopic":"","outsafe":"On","outwarning":"","outunsafe":"Off","warning":"5","timer":"1800","debug":false,"ndebug":false,"ignoreCase":true,"repeat":false,"again":false,"x":630,"y":520,"wires":[[],["f097e9e3.9d1708"]]},{"id":"b340f1ba.f0e83","type":"function","z":"d5569614.64dd48","name":"Set timer","func":"if(msg.payload==\"Motor turned On for 30 minutes.\")\n{\n    msg.payload=\"On\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":520,"wires":[["36dea7fe.dfd118","95e6178a.200e58"]]},{"id":"95e6178a.200e58","type":"function","z":"d5569614.64dd48","name":"Display status","func":"var stats\nif(msg.payload==\"On\"){\n    stats=\"On\"\n}\nelse{\n    stats=\"Off\"\n}\nglobal.set('status',stats)\nmsg.payload=stats\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["e9b1d964.fa2c68","9831ed95.3d421","3d7c8bfe.693a74"]]},{"id":"a2bd1947.219ae8","type":"ui_text","z":"d5569614.64dd48","group":"aba19440.7a83b8","order":1,"width":0,"height":0,"name":"","label":"Time left:","format":"{{msg.payload}}","layout":"row-left","x":980,"y":520,"wires":[]},{"id":"f097e9e3.9d1708","type":"function","z":"d5569614.64dd48","name":"Display Time","func":"var min=Math.floor(msg.payload/60)\nvar sec=msg.payload%60\nmsg.payload=min+\":\"+sec+\" minutes\"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":520,"wires":[["a2bd1947.219ae8"]]},{"id":"acf1bab1.8cf6b8","type":"function","z":"d5569614.64dd48","name":"Show timer","func":"if(msg.payload==\"Motor turned On for 30 minutes.\")\n{\n    msg.payload={\"group\": {\"show\": [\"Smart_Agriculture_System_Timer\"]}}\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":580,"wires":[["c99698d7.2cd618"]]},{"id":"c99698d7.2cd618","type":"ui_ui_control","z":"d5569614.64dd48","name":"","events":"all","x":620,"y":580,"wires":[["4be532b9.49183c"]]},{"id":"4be532b9.49183c","type":"debug","z":"d5569614.64dd48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":580,"wires":[]},{"id":"9831ed95.3d421","type":"function","z":"d5569614.64dd48","name":"","func":"if(msg.payload==\"On\"){\n    msg.payload={\"command\":\"motor_on\"}\n}\nelse{\n    msg.payload={\"command\":\"motor_off\"}\n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":260,"wires":[["8d973c81.bfe2f","cad02bf9.1c0068"]]},{"id":"6ea9e800.083de8","type":"ui_switch","z":"d5569614.64dd48","name":"","label":"Motor","tooltip":"","group":"ee26bcd1.9626c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"On","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Off","offvalueType":"str","officon":"","offcolor":"","x":150,"y":240,"wires":[["95e6178a.200e58"]]},{"id":"3d7c8bfe.693a74","type":"ui_led","z":"d5569614.64dd48","group":"acff4258.faf8b","order":2,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"black","value":"Off","valueType":"str"},{"color":"green","value":"On","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":610,"y":300,"wires":[]},{"id":"eecdb348.5618b","type":"ui_toast","z":"d5569614.64dd48","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"Help","x":950,"y":460,"wires":[[]]},{"id":"8d7df66.e660e08","type":"function","z":"d5569614.64dd48","name":"","func":"msg.payload='<p><h1><b>SMART AGRICULTURE SYSTEM</b></h1></p><b>Dashboard: </b>Displays temprature, humidity and soil moisture based on the sensor data.<br><b>Weather at current location: </b>Displays weather at location which is set.<br><b>Controls: </b>Select the mode of operation(Automatic/Manual).<br><b>Manual Control: </b>Manually control the motors.<br><b>Automatic Control: </b>Automatically turns on motor for 30 minutes if moisture level is lower than 0.16 units.<br><b>Motor Status: </b>Displays the state of motor on/off.<br><b>Timer: </b>Displays the timer for motor on(only available in automatic mode).'\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":460,"wires":[["eecdb348.5618b"]]},{"id":"584882fd.07ca4c","type":"ui_button","z":"d5569614.64dd48","name":"","group":"c05b82b9.80bf5","order":1,"width":0,"height":0,"passthru":false,"label":"Help","tooltip":"","color":"","bgcolor":"Red","icon":"","payload":"","payloadType":"str","topic":"","x":610,"y":460,"wires":[["8d7df66.e660e08"]]},{"id":"9bfe7bbd.0bc538","type":"ui_template","z":"d5569614.64dd48","group":"55b6133d.0a043c","name":"","order":4,"width":0,"height":0,"format":"\n<html>\n    <head>        \n        <style>\n            body{\n                background-image:url('https://www.farmbureau.bank/getmedia/6e744bec-0444-492e-80d7-d52564889ef0/Wheat-Field-Panorama-909076596_1.jpg?width=1364&height=600&ext=.jpg');\n                background-repeat: no-repeat;\n                background-size: cover;\n            }\n        </style>\n    </head>\n    <body></body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":840,"y":140,"wires":[[]]},{"id":"c9e2a465.986568","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"55b6133d.0a043c","type":"ui_group","z":"","name":"Dashboard","tab":"23e0cd28.e38982","order":1,"disp":true,"width":"24","collapse":false},{"id":"cfbb46d3.efd098","type":"ui_group","z":"","name":"Weather at Current location","tab":"23e0cd28.e38982","order":2,"disp":true,"width":"6","collapse":false},{"id":"f75bb6b5.161db8","type":"ui_group","z":"","name":"Controls","tab":"23e0cd28.e38982","order":3,"disp":true,"width":"6","collapse":false},{"id":"ba4319e5.ed8a58","type":"ui_group","z":"","name":"Automatic Control","tab":"23e0cd28.e38982","order":5,"disp":true,"width":"6","collapse":false},{"id":"acff4258.faf8b","type":"ui_group","z":"","name":"Motor Status","tab":"23e0cd28.e38982","order":6,"disp":true,"width":6,"collapse":false},{"id":"aba19440.7a83b8","type":"ui_group","z":"","name":"Timer","tab":"23e0cd28.e38982","order":7,"disp":true,"width":"6","collapse":false},{"id":"ee26bcd1.9626c","type":"ui_group","z":"","name":"Manual Control","tab":"23e0cd28.e38982","order":4,"disp":true,"width":"6","collapse":false},{"id":"c05b82b9.80bf5","type":"ui_group","z":"","name":"","tab":"23e0cd28.e38982","order":8,"disp":false,"width":"2","collapse":false},{"id":"23e0cd28.e38982","type":"ui_tab","z":"","name":"Smart Agriculture System","icon":"dashboard","disabled":false,"hidden":false}]